@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primaryTextColor: #232e35; /* Untuk title atau judul */
  --secondaryTextColor: #656d72; /* Untuk text biasa seperti paragraph contohnya */

  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9; /* untuk line di pre-title */

  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #fbfbfb;
  --thirdBackgroundColor: #f5f3fe;

  --primaryIconColor: #7e74f1;
  --primaryIconColorHover: #5d51e8;

  --sectionPadding: 6rem 0;

  --itemBorderRadius: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff url(/images/light-bg.webp);
  background-repeat: 50% repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryTextColor);
}

p {
  font-size: 1rem; /* 16 px */
  line-height: 1.9rem; /*30.4 px */
}

p,
span,
label,
input,
textarea,
li {
  color: var(--secondaryTextColor);
}

a {
  text-decoration: none;
}

/* End Preparation */
.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

/* Buttons */
.btn {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid var(--borderColor);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* Titles */
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--secondaryTextColor);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--lineColor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

/* Layouts */
.grid-3 {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; use this first, use code below when its time for explaining responsive design part */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/* --- Logo and Navigation Menu --- */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}

.logo a {
  color: var(--primaryTextColor);
}

/* Navigation Menu */
nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--primaryTextColor);
}

/* Burger - Save for later on video */
.burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

.burger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

/* Hero Section */
#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* We're not going to use automatic template columns, because we need to know when the columns is go below. So we can exchange the order of the element */
  align-items: center;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-name span {
  color: var(--primaryIconColor) !important;
}

.hero-right img {
  width: 90%;
}

.hero-right {
  display: flex;
  justify-content: center;
}

/* Services Section */
#services {
  background-color: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}

.services .pre-title {
  margin: 0 auto;
}

.services-title {
  text-align: center;
}

.service {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primaryBackgroundColor);
  border-radius: var(--itemBorderRadius);
}

.service h4 {
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.05rem;
}

.service-icon {
  background: var(--thirdBackgroundColor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.service-icon svg {
  fill: var(--primaryIconColor);
}

.service-icon {
  background: var(--thirdBackgroundColor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.service-icon svg {
  fill: var(--primaryIconColor);
}

/* Portfolios */
#portfolios {
  padding: var(--sectionPadding);
}

.portfolio {
  border-radius: var(--itemBorderRadius);
  overflow: hidden; /* supaya gambar yang diatas itu dia ngikut border radiusnya, karena yang dikasih border radius disini adalah div portfolio ini */
  border: 1px solid var(--borderColor);
}

.portfolio-cover {
  height: 250px;
}

.portfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-info {
  padding: 2rem 1.5rem;
}

.portfolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.portfolio h4 {
  font-weight: 500;
  font-size: 1.05rem;
}

.portfolio-title a svg:hover {
  fill: var(--primaryIconColor);
}

.portfolio-title a svg {
  transition: 0.2s ease-in-out;
}

.portfolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portfolio-tags div {
  font-size: 0.9rem;
  border: 1px solid var(--borderColor);
  padding: 0.4rem 1rem;
  color: var(--secondaryTextColor);
}

.portfolio-tags div {
  font-size: 0.9rem;
  border: 1px solid var(--borderColor);
  padding: 0.4rem 1rem;
  color: var(--secondaryTextColor);
}

/* Skills and Education */
#skills {
  padding: var(--sectionPadding);
  background: var(--secondaryBackgroundColor);
}

.skills-grid {
  display: grid;
  /* grid-template-columns: 40% 60%; */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.education {
  display: flex;
  gap: 1rem;
}

.education .line {
  padding: 0 0.7rem;
}

.education .line div {
  width: 2px;
  height: 100%;
  background: var(--borderColor);
  position: relative;
}

.education-info p {
  margin: 0.6rem 0 1.4rem;
}

.education-years {
  margin-bottom: 3rem;
}

/* The dot on the line */
.education .line div:before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--borderColor);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

/* Right side of Skills */
.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.skills-right ul {
  line-height: 2rem;
  padding: 0 1rem;
}

/* Contact Section */
#contact {
  padding: var(--sectionPadding);
}

.contact {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", sans-serif;
  background: var(--secondaryBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
}

button.button.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: var(--primaryIconColor);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-submit:hover {
  background-color: var(--primaryIconColorHover);
}

/* Contact Section - Right Side */
.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.contact-item-icon {
  background: var(--thirdBackgroundColor);
  /* padding: 0.8rem 1rem; */
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-item-icon svg {
  fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}

/* Footer Section */
footer {
  padding: 4rem 0;
  background: var(--secondaryBackgroundColor);
  text-align: center;
}

.footer-icons {
  margin-bottom: 1rem;
}

.footer-icons a {
  margin: 0 0.5rem;
}

.footer-icons svg {
  fill: #3e3f40;
}

.footer-icons a:hover svg {
  fill: #000;
}
.container {
  display: flex;
}
.featured-image {
  width: 20%;
  max-height: 300px;
  margin-left: 300px;
}
.card {
  width: 25em;
  margin: 100px auto 0;
  height: 22.5em;
  background: #171717;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
          clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1.2em;
}

.card .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.85em;
  margin: 1em;
}

.card .img {
  width: 6em;  /* Increased from 4.8em */
  height: 6em; 
  background: white;
  border-radius: 15px;
  margin: auto;
  overflow: hidden;
}
.card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .share {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.card a {
  color: white;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.card a:hover {
  color: red;
}

.card button {
  padding: 1em 2em; /* Increased from 0.8em 1.7em */
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
  box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
  background-color: hsl(210deg 100% 44%);
  border-radius: 12px;
  overflow: hidden;
  transition: 31ms cubic-bezier(.5, .7, .4, 1);
 }
 
 button:before {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  opacity: 1;
 }
 
 button:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(.5, .7, .4, 1);
 }
 
 button:hover:before {
  transition: all .0s;
  transform: translateY(100%);
  opacity: 0;
 }
 
 button i {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
  font-style: normal;
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 0;
 }
 
 button:hover i {
  transition: all .2s ease;
  transform: translateY(0px);
  opacity: 1;
 }
 
 button:hover i:nth-child(1) {
  transition-delay: 0.045s;
 }
 
 button:hover i:nth-child(2) {
  transition-delay: calc(0.045s * 3);
 }
 
 button:hover i:nth-child(3) {
  transition-delay: calc(0.045s * 4);
 }
 
 button:hover i:nth-child(4) {
  transition-delay: calc(0.045s * 5);
 }
 
 button:hover i:nth-child(6) {
  transition-delay: calc(0.045s * 6);
 }
 
 button:hover i:nth-child(7) {
  transition-delay: calc(0.045s * 7);
 }
 
 button:hover i:nth-child(8) {
  transition-delay: calc(0.045s * 8);
 }
 
 button:hover i:nth-child(9) {
  transition-delay: calc(0.045s * 9);
 }
 
 button:hover i:nth-child(10) {
  transition-delay: calc(0.045s * 10);
 }
 .card button:hover {
  background: rgb(136, 230, 14);
  color: rgb(0, 33, 219);
  cursor: pointer;
}

.btn-top,
.btn-top::after {
  padding: 16px 20px;
  font-size: 18px;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
}

.btn-top::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "HOVER ME";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.btn-top:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}


